<h1 style="color:#ff0000 ;text-align: center;" > New Author</h1>
<%= render 'authors/form', author: @author %>
<br /> 
<div class="container text-right">
	<div class="d-flex justify-content-end">
		<%= link_to "Back", :back , class: 'd-block btn btn-primary' %>
	</div>
</div>