<h1 style="color:red">Book Edit </h1>
<%= render 'form', book: @book %>
</br >
<div class="container text-right">
	<div class="d-flex justify-content-end">
		<%= link_to "Back", :back , class: 'd-block btn btn-primary' %>
	</div>
</div>
