<h1 style="color:#ff0000"> New Book</h1>
<%= render 'books/form', book: @book %>
<br /> 
<div class="container text-right">
	<div class="d-flex justify-content-end">
		<%= link_to "Back", :back , class: 'd-block btn btn-primary' %>
	</div>
</div>